
.db-item {
  position: relative;
}

.db-item.expanded {
  background-color: #eee;
}

.db-item:hover {
  background-color: #cde7f5;
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}

.db-item .card-header {
  position: relative;
}

.db-item .card-header:hover {
  cursor: pointer;
}

.db-item.expanded .card-header:hover {
  cursor: inherit;
}

.db-item .card-header .btn-edit {
  position: absolute;
  top: 10px;
  right: 20px;
}

.db-item .header-content {
  display: flex;
  justify-content: space-between;
}

.db-item .card-body {
  position: relative;
}

.db-item .card-footer .select-type {
  width: 100px;
}

.row.selected {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 1;
}

.db-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: 100%;
}

/* Record-wide Editing Styles */

.clickable-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-body .summary {
  width: 100%;
}