
header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
  background-image: url('./images/tech-bg.png');
}

.dateAdded {
	position: absolute;
	right: 5px;
	bottom: 5px;
	color: #aaa;
	font-style: italic;
	font-size: .75rem;
}