
.field-item {
  position: relative;
  display: flex !important;
  justify-content: space-between;
}

.field-item:hover {
  background-color: #cde7f5;
  background-color: #eee;
  color: #26168b;
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

.field-item span + * {
  opacity: 0;
}
.field-item:hover span + * {
  opacity: 1;
}
.field-item .remove-field {
  color: #ccc;
  z-index: 3;
}
.field-item .remove-field:hover {
  color: #dc3545;
  cursor: pointer;
}

.field-entry:hover {
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}

.field-entry .card-body {
  position: relative;
}

.field-col {
  position: absolute;
  /* left: -25%; */
  top: 100px;
  animation: field_slide_right 500ms ease forwards;
  overflow: visible;
  height: 1px;
  z-index: 1;
}

.field-col .btn-edit {
  display: inline;
}

@keyframes field_slide_right {
  0% { left: -25%; top: 100px; }
  100% { right: 0; top: 0; }
}

.field-entry .key-indicator {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #aaa;
}

.key-indicator .primary {
  color: #ca9a15;
}

.key-indicator .foreign {
  color: #b1aeae;
}

.field-entry .edit-form, 
.field-entry .form-control,
.field-entry .form-control:focus {
  color: #26168b;
}

.field-entry .ckbAllowNull {
  margin-left: 20px;
}

.field-entry .edit-form > * {
  margin-bottom: 5px;
}

.field-entry .field-header {
  font-weight: 600;
}

.field-entry .card-header {
  position: relative;
}

.field-entry .header-content {
  display: flex;
  justify-content: space-between;
}

.field-entry .card-header .btn-edit {
  position: absolute;
  top: 10px;
  right: 100px;
}