.App-logo {
	animation: App-logo-spin infinite 40s linear;
	height: 80px;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from { transform: rotate(360deg); }
	to { transform: rotate(0deg); }
}

.record-title {
	font-weight: 600;
	color: rgb(18, 34, 185);
}

.up-arrow {
	position: relative;
	top: 5px;
}

.btn-add {
	cursor: pointer;
}

.btn-edit {
	display: none;
	background-color: #eee;
	padding: 2px 10px;
	border-radius: 5px;
	z-index: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-edit:hover {
	color: red;
	cursor: pointer;
}

.expanded .btn-edit {
	display: inline-block;
}

.column-headers {
	position: -webkit-sticky;
	position: sticky;
	padding: 5px 0;
	top: 0;
	background-color: #fff;
	z-index: 4;
}

.search {
	margin: 5px 0;
}

.error-message {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 400px;
	margin: 50px auto;
	text-align: center;
}

input.input-title {
	width: 100px;
}